%html
  %head
    %title #{@room.name} - Room Dashboards - dxw
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %meta{'http-equiv' => 'refresh', :content => '300'}

  %body.kindle
    %h1
      %span= @room.name
    .calendar
      .room{:class => @room.css_class}
        = haml(:_room, locals: {room: @room})
