@import url("https://fonts.googleapis.com/css?family=Cardo:700|Poppins:600,800&display=swap");
@import "normalize";

$navy-dark: #17212c;
$navy: #243746;
$cream: #f3f1e9;
$ivory: #f9f8f5;

$grey: #bdbdbd;
$grey-light: #efefec;

$yellow: #ff9e18;
$yellow-mid: #ffb259;
$yellow-light: #fcd672;
$orange: #ff5c35;
$orange-mid: #ff8d6b;
$orange-light: #ffa489;
$red: #ff595a;
$red-mid: #ff8189;
$red-light: #ffb1b9;
$purple: #69488e;
$purple-mid: #7473c0;
$purple-light: #a7a4df;
$teal: #09615d;
$teal-mid: #009490;
$teal-light: #80c7bc;
$blue: #004876;
$blue-mid: #009abf;
$blue-light: #73c3d5;

$hoxton-ground: $blue;
$hoxton-hide: $purple;
$hoxton-wellbeing: $teal;

$leeds-mustard: $yellow;
$leeds-peacock: $blue-mid;
$leeds-plum: $purple;
$leeds-green: $teal-mid;

$zoom-a: $blue-mid;
$zoom-b: $yellow;
$zoom-c: $purple-mid;

* {
  box-sizing: border-box;
}

body {
  background-color: $ivory;
  color: $navy;
  font-family: "Poppins", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-left: 40px;
  font-weight: 800;
}

h1 #datetime_time {
  display: inline-block;
  float: right;
  padding-right: 40px;
}

.calendar {
  display: grid;
}

@mixin room-colours($base-colour) {
  $dark-colour: darken($base-colour, 10);

  h2 {
    color: $base-colour;
  }

  ul {
    border-top: 12px solid $dark-colour;

    li {
      min-height: 5em;
      text-shadow: 0px 0px 4px darken($dark-colour, 8);

      &.now {
        background-color: darken($base-colour, 4) !important;
      }

      &.empty {
        color: $dark-colour;
        background: mix(white, $base-colour, 80%) !important;
        text-shadow: none;

        .title {
          border-color: $dark-colour;
        }
      }
    }

    li {
      $desaturated-base: mix(white, $base-colour, 15%);
      background-color: $desaturated-base;
      &:nth-child(1) {
        border-bottom: 6px solid darken($base-colour, 10);
      }
      &:nth-child(even) {
        background-color: darken($desaturated-base, 6);
      }
    }
  }
}

.room {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  color: $ivory;

  h2 {
    font-size: 32px;
    padding-left: 40px;
    margin: 0;
    margin-bottom: 0.3em;
  }

  &.room__hoxton-ground {
    @include room-colours($hoxton-ground);
  }

  &.room__hoxton-hide {
    @include room-colours($hoxton-hide);
  }

  &.room__hoxton-wellbeing {
    @include room-colours($hoxton-wellbeing);
  }

  &.room__leeds-mustard {
    @include room-colours($leeds-mustard);
  }

  &.room__leeds-peacock {
    @include room-colours($leeds-peacock);
  }

  &.room__leeds-plum {
    @include room-colours($leeds-plum);
  }

  &.room__leeds-green {
    @include room-colours($leeds-green);
  }

  &.room__zoom-a {
    @include room-colours($zoom-a);
  }

  &.room__zoom-b {
    @include room-colours($zoom-b);
  }

  &.room__zoom-c {
    @include room-colours($zoom-c);
  }

  ul {
    font-weight: 500;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr;

    &.events-now {
      height: 100%;
    }

    li {
      padding: 30px;
      display: grid;
      grid-gap: 20px 5px;
      grid-template-columns: 130px auto;
    }
  }

  .title {
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
  }

  .organiser {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
    grid-column-start: 2;
    padding-left: 13px;
  }
}
