@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'normalize';

$brand-primary: #006998;
$brand-secondary: #1ca4de;
$accent-colour: #5b527f;

$dxw-light-green: #3bc492;
$dxw-green: #006874;
$dxw-orange: #fe603a;
$dxw-yellow: #ffb72c;
$dxw-red: #9f1f1f;
$dxw-pink: #b15fa2;
$dxw-turquoise: #00a0b0;
$black: #283133;
$dark-grey: #4c535a;
$grey: #95989a;
$medium-grey: #eeeeee;
$light-grey: #f2f2f2;
$white: #ffffff;

$room1: $brand-secondary;
$room2: $brand-primary;
$room3: $dxw-turquoise;

$leeds-mustard: #cf9a0a;
$leeds-peacock: $brand-primary;
$leeds-plum: #7c12a6;
$leeds-green: #2b6e10;

* {
  box-sizing: border-box;
}

body {
  background-color: $light-grey;
  color: #000;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 24px;
  line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-left: 40px;
  color: $black;
}

.calendar {
  display: grid;
}

@mixin room-colours($base-colour) {
  h2 {
    color: $base-colour;
  }
  ul li {
    background-color: $base-colour;
    &:nth-child(odd) {
      background-color: darken($base-colour, 4);
    }
  }
}

.room {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  color: $white;

  h2 {
    font-size: 32px;
    padding-left: 40px;
    margin: 0;
  }

  &.room__1 {
    @include room-colours($room1);
  }

  &.room__2 {
    @include room-colours($room2);
  }

  &.room__3 {
    @include room-colours($room3);
  }

  &.room-leeds__mustard {
    @include room-colours($leeds-mustard);
  }

  &.room-leeds__peacock {
    @include room-colours($leeds-peacock);
  }

  &.room-leeds__plum {
    @include room-colours($leeds-plum);
  }

  &.room-leeds__green {
    @include room-colours($leeds-green);
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: 1fr;

    li {
      padding: 30px;
      display: grid;
      grid-gap: 20px 5px;
      grid-template-columns: 130px auto;

      &:nth-child(odd) {
        background-color: red;
      }

      .title {
        border-left: 1px solid rgba(255,255,255,0.7);
      }
    }
  }

  .title {
    color: $white;
    font-weight: bold;
    padding-left: 10px;
    border-left: 3px solid $white;
  }

  .datetime {
    font-style: normal;
    font-weight: bold;
  }

  em.organiser {
    display: block;
    font-style: normal;
    font-size: 0.8em;
    margin-top: 5px;
    opacity: 0.7;
    grid-column-start: 2;
    padding-left: 13px;
  }
}
