body {
  background-color: #fff;
  color: #000;
  font-family: helvetica, arial, sans-serif;
}

h1, h2 {
  color: #369;
}

strong {
  color: #69c;
}

.calendar {
  width: 100%;
}

.room {
  float: left;
  width: 32%;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding-top: 0.5em;
}

em {
  font-size: 0.8em;
  margin-top: 5px;
}
